<ion-header>

  <ion-navbar text-center>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form #f="ngForm" (ngSubmit)="onAddItem(f)">
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" name="iname" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input type="number" name="amount" ngModel required></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" block [disabled]="!f.valid">Add</button>
  </form>

  <hr>

  <ion-list>
    <ion-list-header *ngIf="ingredients !== undefined && ingredients.length > 0">
      <ion-row>
        <ion-col>Name</ion-col>
        <ion-col>Amount</ion-col>
      </ion-row>
    </ion-list-header>
    <ion-item *ngFor="let ingredient of ingredients; let i = index" (click)="onRemoveItem(i)">
      <ion-row>
        <ion-col>{{ ingredient.name }}</ion-col>
        <ion-col>({{ ingredient.amount }})</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
